button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* width: 100rem; */
    gap: 2rem;
    /* justify-items: start; */
}

.container div {
    /* width: 30rem; */
    color: white;
    background-color: black;
    /* border-radius: 1rem; */
    padding: 1rem;
}

.form-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

form {
    background-color: white;

    width: 400px;
    max-width: 100%;
    padding: 3rem;

    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    transform: translate(-50%, -50%);
}

/* #title{
    background-color: black;
} */

form button {
    width: fit-content;

    /* align-self: center; */
}

.form-container.show-form {
    display: block;
}